<h3>確認画面</h3>
<%= form_with(model: @blog, url: blogs_path, local: true,) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <p>タイトル:<%= @blog.title %></p>
  <p>本文:<%= @blog.content %></p>
  <p>画像:<%= @blog.image %></p>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= form.hidden_field :image_cache %><br>
  <%= form.submit  "Submit", class:'btn'%><br>
<% end %>
