<h3>確認画面</h3>
<%= form_with(model: @blog, url: blogs_path, local: true,) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <p>TITLE:<%= @blog.title %></p>
  <p>IMAGE:<%= @blog.image %></p>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <p>CONTENT:<%= @blog.content %></p>
  <%= form.submit  "Submit", class:'btn'%><br>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
