<h1>Everyone's post</h1>
<p><%= notice %></p>
<table class="table table-striped">
  <tr>
    <th class = "subject">USER NAME</th>
    <th class = "subject">IMAGE</th>
    <th class = "subject">TITLE</th>    
    <th class = "subject">CONTENT</th>
    <th colspan="3"></th>
  </tr>
<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.user.name %></td>
    <td><%= image_tag(blog.image.url(:thumb)) if blog.image && blog.image.url %></td>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td ><%= link_to 'View the details', blog_path(blog.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Post new', new_blog_path %>