<h1><%= @user.name %>'s page</h1>
<h2>Post details</h2>
<p class = "subject">TITLE:</p>
<%= @blog.title %>
<p class = "subject">
  Image:<br>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
</p>
<p class = "subject">CONTENT:</p>
<%= @blog.content %><br>

<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Remove Favorites', favorite_path(id: @favorite.id), method: :delete, class: 'btn' %>
  <% else %>
    <%= link_to 'Add to Favorites', favorites_path(blog_id: @blog.id), method: :post, class:'btn' %>
  <% end %>
<% end %>
<br>
<br>
<%= link_to 'Back to Mypage', user_path(current_user.id) %>
