<h1>Favorites list</h1>
<p><%= notice %></p>
<table class="table table-striped">
  <tr>
    <th class = "subject">USER NAME</th>
    <th class = "subject">TITLE</th>
    <th class = "subject">IMAGE</th>
    <th class = "subject">CONTENT</th>
  </tr>
<% @favorites.each do |favorite| %>
  <%# blog = blog.find_by(id: favorite.blog_id) %>
  <tr>
    <td><%= favorite.blog.user.name %></td>
    <td><%= favorite.blog.title %></td>
    <td><%= image_tag(favorite.blog.image.url(:thumb)) if favorite.blog.image && favorite.blog.image.url %></td>
    <td><%= favorite.blog.content %></td>
    <td ><%= link_to 'View the details', blog_path(favorite.blog.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Post new', new_blog_path, class:'btn' %>