<div>
<h1><%= @user.name %>'s page</h1>
<p>mail address: <%= @user.email %></p>
<div class="user-image">
  <%= image_tag(@user.image_name.url)  if @user.image_name && @user.image_name.url %>
</div>
<div>
  <%= link_to 'Edit account', edit_user_path %><br>
  <%= link_to 'View Favorites', favorites_path, class:"btn"%>
</div>


<h2 class = "heading">List of my posts</h2>
<%# <p id="notice"><%= notice %></p> 
<table class="table table-striped">
  <tr>
    <th class = "subject">TITLE</th>
    <th class = "subject">IMAGE</th>
    <th class = "subject">CONTENT</th>
    <th colspan="3"></th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= image_tag(blog.image.url(:thumb)) if blog.image && blog.image.url %></td>
      <td><%= blog.content %></td>
      <td><%= link_to 'View the details', blog_path(blog.id) %></td>
      <td><%= link_to 'Edit post', edit_blog_path(blog.id),data: { confirm: '本当に編集していいですか？' }  %></td>
      <td><%= link_to 'Delete post', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Post new', new_blog_path, class:"btn" %>