
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Thanks for submit, <%= @contact.name %>!</h1>
  <p>Thanks for joining and have a great day!</p>
</body>
</html>








# <%= @user.name %> 様

# ブログへの画像投稿が完了しました。
# マイページはこちら
# <%= blog_path(blog.id) %>





# <h1>画像投稿が完了しました！</h1>
# <h4>name: <%= @user.name %></h4>
# <h4>投稿内容の確認</h4>
# <p>content: <%= @blog.content %></p>
# 